<%# Override file to remove unneeded table columns and links to the parent collection %>
<% id = document.id %>
<tr id="document_<%= id %>">
  <td>&nbsp;
    <% if current_user and document.depositor != current_user.user_key %>
      <i class="glyphicon glyphicon-share-alt" />
    <% end %>
  </td>
  <td>
    <% document_url = document.slug.present? ? hyrax.collection_path(document) : [main_app, document]  %>
    <div class="media">
      <%= link_to document_url, class: "media-left" do %>
        <%= render_thumbnail_tag document, { class: "hidden-xs file_listing_thumbnail" }, { suppress_link: true } %>
      <% end %>
      <div class="media-body">
        <p class="media-heading">
          <strong><%= link_to document.title_or_label, document_url, id: "src_copy_link#{id}" %></strong>
        </p>
        <%# Removed call for `render_other_collection_links` method %>
      </div>
    </div>
  </td>
  <%# Removed date_uploaded <td> %>
  <%# Removed visibility label <td> %>
</tr>
