<%# Override file to remove unneeded table headers %>
<table class="table table-striped">
  <caption class="sr-only">List of items in this collection</caption>
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th><%= t("hyrax.dashboard.my.heading.title") %></th>
    <%# Removed date_uploaded <th> %>
    <%# Removed visibility <th> %>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'hyrax/collections/show_document_list_row', collection: @document_list, as: :document %>
  </tbody>
</table>
