
<h2 class="sr-only">Atla Digital Library News</h2>
<section class="news-section row">
	<div class="col-md-6">
		<div id="rss">
		</div>
	</div>
	<div class="col-md-6">
		<div class="announcements-one" >
			<h4>Check out the Atla Digital Library Webinar Series</h4>
			<ul class="webinarlist">
				<li><a href="https://www.atla.com/webinar/introduction-to-the-atla-digital-library/" target="_blank" rel="noopener">Introduction to the Atla Digital Library</a> <span class="glyphicon glyphicon-new-window"></span></li>
				<li><a href="https://www.atla.com/webinar/metadata-in-the-atla-digital-library/" target="_blank" rel="noopener">Metadata in the Atla Digital Library</a> <span class="glyphicon glyphicon-new-window"></span></li>
				<li><a href="https://www.atla.com/webinar/rights-management-atla-digital-library/" target="_blank" rel="noopener">Rights Management in the Atla Digital Library</a> <span class="glyphicon glyphicon-new-window"></span></li>
				<li><a href="https://www.atla.com/webinar/using-the-atla-digital-library-to-find-resources/" target="_blank" rel="noopener">Using the Atla Digital Library to Find Resources</a> <span class="glyphicon glyphicon-new-window"></span></li>
			</ul>
		</div>
		<div class="announcements-two">
			<h4>Want to participate in the Atla Digital Library?</h4>
			<p class="learn-more"><%= link_to "Learn more ", main_app.participate_path %></p>
		<div>
	</div>
</section>
<ul class="list-inline collection-highlights-list" style="margin-top:1em;">
  <li>
    <a class="btn btn-default" href="https://www.atla.com/topic/atla-digital-library/" target="_blank" rel="noopener">View All News</a>
  </li>
</ul>


<!--
<section class="news-section">
		<rssapp-wall id="5tPfz7brp6MumBbj"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
</section>
<ul class="list-inline collection-highlights-list">
  <li>
    <a class="btn btn-default" href="https://www.atla.com/topic/atla-digital-library/" target="_blank" rel="noopener">View All News</a>
  </li>
</ul>
-->