<!-- Override file from Hyrax 2.3.3 -->
<div class="featured_works">
	<div class="featured-item" data-id="<%= featured.presenter.id %>">
		<%= render 'hyrax/homepage/featured_fields', featured: featured.presenter %>
	</div>
</div>
