<div class="grid-item col-sm-6 col-md-4">
  <div id="featured_works" class="thumbnail-custom">
    <div class="featured-item" data-id="<%= featured.presenter.id %>">
      <%= render 'hyrax/homepage/featured_fields', featured: featured.presenter %>
      <%= render_full_image_tag featured.presenter, class: 'img-responsive feature-image' %>
    </div>
  </div>
</div>
