<div class="col-sm-6 col-md-4">
  <div id="featured_works" class="thumbnail-custom">
    <% presenter = featured.presenter %>
    <div class="featured-item" data-id="<%= presenter.id %>">
      <%= render 'hyrax/homepage/featured_fields', featured: presenter %>
      <%= render_full_image_tag presenter, :class => 'img-responsive feature-image' %>
    </div>
  </div>
</div>
