<div class="help-block well well-sm">
  <p>
    The Thumbnail URL allows for basic templating and substitution on any identified information in to the url. For example:
  </p>

  <p>
    http://commons.ptsem.edu/?cover=<&#37= identifier.split(':').last &#37>&size=L
  </p>

  <p>
    http://commons.ptsem.edu/?cover=<&#37= record.header.identifier.split(':').last &#37>&size=L
  </p>
</div>
