<% if presenter.representative_id.present? && presenter.representative_presenter.present? %>
  <% url = presenter.solr_document.response['response']['docs']&.first.fetch('identifier_tesim', nil)&.first %>
  <% if url =~ /^https*:/ %>
    <a href="<%= url %>" target="_blank">
      <%= media_display presenter.representative_presenter %>
    </a>
  <% else %>
    <%= media_display presenter.representative_presenter %>
  <% end %>
<% else %>
  <%= image_tag 'nope.png', class: "canonical-image" %>
<% end %>
