<h2 class="sr-only"><%= t('sufia.homepage.recently_uploaded.title') %></h2>
<section>
  <div class="container">
    <div class="row">
      <% if recent_documents.blank? %>
        <p><%= t('.no_public') %></p>
      <% else %>
        <div id="recent_docs">
          <%= render partial: "recent_document", collection: recent_documents %>
        </div>
      <% end %>
    </div>
  </div>
</section>
