<footer class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text text-left footer-text col-sm-4">
        <p>A service of <a href="http://projecthydra.org/" class="navbar-link" target="_blank">Project Hydra</a>.</p>
        <p>Sufia v<%= Sufia::VERSION %></p>
    </div>

    <div class="navbar-right col-sm-4 col-sm-offset-4">
      <div class="navbar-text text-right footer-text">
        <p><%= t('sufia.footer.copyright_html') %></p>
      </div>
    </div>
  </div>
</footer>
