<footer class="navbar navbar-inverse">
  <div class="container">
    <div class="footer-terms">
      <p><%= link_to 'About', hyrax.about_path %></p>
      <p><%= link_to 'Help', hyrax.help_path %></p>
    </div>

    <div class="footer-search"><%= render partial: 'catalog/search_form' %></div>

    <div class="footer-info">
      <p><span class="footer-name-one">ATLA Digital Library</span><br>
      <span class="footer-name-two">American Theological Library Association</span><br>
      300 South Wacker Drive, Suite 2100<br>
      Chicago, Illinois 60606<br>
      <%= mail_to "memberrep@atla.com" %></p>
    </div>
    <div class="clearfix"></div>
    <div id="backtop">&#9650;</div>
  </div>
</footer>
