<footer class="navbar navbar-inverse">
   <div class="container">
    <div class="footer-terms">
	<p><a href="/about/">About</a></p>
	<p><a href="/help/">Help</a></p>
     	<p><a href="/terms/">Terms of Use</a></p>
    </div>
   
    <div class="footer-search"><%= render partial: 'catalog/search_form' %></div>

    <div class="footer-info">
	<h4>ATLA Digital Library</h4>
	<h5>American Theological Library Association</h5>
	<p>600 South Wacker Drive, Suite 2100</p>
	<p>Chicago, Illinois 60606</p>
	<p><%= mail_to "memberrep@atla.com" %></p>
    </div>
     <div class="clearfix"></div>
     </div>
</footer>
