<h1>Contributing Institutions</h1>
<p>This is a list of institutions that have contributed materials to this site. Click on the institution name to view their collections.</p>
<p><%= link_to 'Princeton Theological Seminary Library', '/catalog?f[contributing_institution_sim][]=Princeton+Theological+Seminary+Library&q=' %></p>
