# {{ ansible_managed }}
{% if inventory_hostname_short != 'localhost' %}
127.0.0.1	{{ ec2_tag_Name }} localhost.localdomain localhost
{% else %}
127.0.0.1	localhost.localdomain	localhost
{% endif %}

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts

{% for item in groups['tag_Stack_hydra'] %}
{%     if hostvars[item].ec2_tag_Name is defined %}
{{ item }}	{{ hostvars[item].ec2_tag_Name }}	
{%     endif %}
{% endfor %}
