/* Home Page and General Styles */

#content-wrapper {
  margin-top: 150px;
  margin-bottom: 150px;
}

.hero-fullscreen-bg {
  background-image: image-url('ATLA-hero-new.jpg');
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  z-index: 1;
}

.home_marketing_text {
  display:none;
}

#announcement {
  display:none;
}
section.section-gray {
  margin-bottom: 100px;
}

/* Buttons and Links */

a, .btn-link {
  color: #db9e36;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-success, .btn-success:active, .btn-success:focus, .label-success, .label-success:active, .label-success:focus, .pagination > .active > a, .pagination > .active > span {
  background-color: #105b63;
  border-color: #0b3c42;
}

.btn-primary:hover, .btn-success:hover, .btn-primary:active:hover, .btn-success:active:hover, .label-success:hover, .label-success:active:hover, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #0b3c42;
  border-color: #07282c;
}

a:hover, a:focus, .btn-link:hover, .btn-link:focus {
  color: #c38822;
}

.btn-danger, .label-danger {
  background-color: #bd4932;
  border-color: #a13f2b;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:focus, .btn-danger:active:hover, .label-danger:hover, .label-danger:focus, .label-danger:active:hover {
  background-color: #a13f2b;
  border-color: #792f20;
}
.multi_value .btn.add {
  text-decoration: none;
  padding: 5px 10px;
  width: auto;
  color: white;
}

/* FOOTER STYLES */

footer.navbar.navbar-inverse {
  background-color: #105b63;
  border-color: #0b3c42;
}

footer {
  padding: 15px;
}

footer .navbar-text {
  margin-left: 0;
  margin-right: 0;
}

.footer-links a {
  color: #9d9d9d;
}

.footer-links {
  color: #d9d9d9;
}

ul.footer-links {
  list-style-type: none;
  padding-left: 0;
}

.navbar-inverse .navbar-text.text-right, .navbar-inverse .navbar-text.text-left {
  color: #d9d9d9;
}

/* Dashboard Styles */

div.heading-tile .glyphicon, div.heading-tile .help-icon, div.heading-tile .glyphicon-chevron-right-helper .chevron, .glyphicon-chevron-right-helper div.heading-tile .chevron {
  background: #ffd34e;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.container.dashboard {
  margin-top: 100px;
  margin-right: 15px;
  margin-left: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.container.dashboard>h1 {
  margin-top: -75px;
}

.main-header {
  margin-left: 15px;
  padding-left: 15px;
}

.main-header>h1 {
  margin-bottom:-75px;
}

.facet_limit-active > .panel-heading {
  color: #105b63;
  background-color: #fffce6;
  border-color: #fffad5;
}

.facet_limit-active {
  border-color: #fffad5;
}

.facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #fffad5;
}

/* Search Styles */

.panel-heading.collapse-toggle .panel-title:after {
  margin-top: -20px;
}

#appliedParams.constraints-container {
  margin-bottom: 10px;
}

/* Admin Page */

.page-container {
  background-color: #157984 !important;
}

.page-container .page-content .page-content-wrap {
  background-color: #f5f5f5;
}

.x-navigation {
  background-color: #105b63 !important;
}

.x-navigation li > a {
  border-bottom: 1px solid #0b3c42 !important;
  color: #db9e36;
}

.x-navigation > li.xn-logo > a:first-child {
  background: #0b3c42 !important;
}

.x-navigation.x-navigation-horizontal {
    height: 41px !important;
    background: #0b3c42 !important;
}

.x-navigation > li > a:hover {
    background: #198d9a !important;
}

/* Navbar */

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a  {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
  color: #db9e36;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #db9e36;
}
.navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
  color: #db9e36;
}

.main-navbar-nav li > .dropdown-menu {
  border-top: 2px solid #db9e36;
}

.main-navbar-nav li > .dropdown-menu > li > a:hover, .main-navbar-nav li > .dropdown-menu > li > a:focus, {
  color: #db9e36;
}

.navbar-light-font {
  background-color: rgba(16, 91, 99, 0.95)
}

.main-navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1;
}

.image-background {
  background-image: image-url('ATLA-nav-back.jpg')!important;
  background-repeat: no-repeat;
  background-position: top !important;
  max-height: 110px;
}

.navbar-default .navbar-nav > li > a {
    font-size: 11px;
}

.nav > li > a {
    padding: 10px 10px;
}

.navbar-light-font .navbar-toggle, .navbar-light-font .facets-toggle, .navbar-light-font .navbar-toggle:hover, .navbar-light-font .facets-toggle:hover, .navbar-light-font .navbar-toggle:focus, .navbar-light-font .facets-toggle:focus {
  background: rgba(16,91,99, 0.95) !important;
}

/* Contact Page Styles */

.form-horizontal .form-group {
  margin-right:0;
}

/* Forms and Devise Views */

input {
  margin-bottom: 10px;
}

.form-control {
  color: #555555;
}

.label-info::before {
  content: "*";
  color: #bd4932;
}
.label-info {
  background-color: #fff;
  color: #fff;
}

.required-key {
  color: #bd4932;
  padding-left: 16px;
  font-size: 14px;
}

.checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
  margin-right: 5px;
}

/* Remove padding for required-key field on collection pages */
.no-left-padding {
  padding-left: 0;
}

/* Helper Styles */

.margin-bottom-100 {
  margin-bottom: 100px;
}

/* Breadcrumbs */

.breadcrumb > li.active {
  color: #105b63;
}

.breadcrumb a:hover, .breadcrumb a:focus {
  color: #105b63;
}

.breadcrumb.link-accent a {
  color: #105b63;
}

.breadcrumb.link-accent a:hover, .breadcrumb.link-accent a:focus {
  text-decoration: none;
  color: #0b3c42;
}

/* User Notifications */

.container.dashboard a.btn.btn-danger.pull-right {
  margin-right: 30px;
}

.alert {
  margin-top: 150px;
  margin-bottom: -125px;
}

/* Progress bars */

.progress-bar {
  background-color: #105b63;
}

.progress-bar-warning {
  background-color: #db9e36;
}

.progress-bar-danger {
  background-color: #bd4932;
}

.progress-bar-success {
  background-color: #105b63;
}

.progress-bar-info {
  background-color: #198d9a;
}

/* Removing divider to prevent console error */

.section-heading:after {
  background-image: none;
}

/* MEDIA QUERIES and Mobile Styles */

@media screen and (max-width: 992px) {

  /* Home Page items */

  .hero-fullscreen-bg {
    height: auto;
    padding-top: 100px;
  }

  .hero-fullscreen-bg .heading {
    font-size: 60px;
  }

  section.section-gray {
    margin-bottom: 0;
  }

  #search-submit-header.btn.btn-primary>.glyphicon.glyphicon-search {
    display: none;
  }

  #search-submit-header.btn.btn-primary {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
  }

  button#search-option-toggle.btn.btn-default.dropdown-toggle {
    display: none;
  }

  /* Navigation items */

  .navbar-no-background {
    position: absolute;
    background: rgba(16, 91, 99, 0.95) !important;
    background-image: none !important;
  }

 .navbar-no-background.image-background {
    background-image: none !important;
  }

  .navbar .container {
    z-index:2;
  }

  .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a  {
    color: #3b3b3b;
  }

  .navbar-collapse.collapse.in, .no-js #sidebar .navbar-collapse.collapse, .no-js #sidebar .collapse#facet-panel-collapse, .collapse.in#facet-panel-collapse {
    background-color: #fff;
  }

  /* Admin Page */
  .page-container .page-sidebar {
    width: 150px;
  }

  .page-container .page-content {
    margin-left: 150px;
  }

  .dropdown-menu .divider {
    margin: 0;
  }

  /* Forms */
  .input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .input-group-lg > .input-group-btn > .facets-toggle, td.toggle .input-group-lg > .input-group-btn > input[type=submit] {
    padding: 10px 10px;
  }

  /* Dashboard and other secondary pages */

  #my_nav {
    margin-top: 120px;
  }

  .search-margin-top {
    margin-top: 100px;
  }

  #content-wrapper {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .container.dashboard {
    padding-right: 30px;
  }

  .container.dashboard>h1 {
      margin-top: 50px;
  }

  .container.dashboard h2.non.lower small {
    font-size: 50%;
  }

  .heading-tile {
    font-size: large;
  }

  .container.dashboard a.btn.btn-danger.pull-right {
    float:left !important;
  }

  .pull-right.no-pull-sm {
    float: none !important;
    margin-bottom: 5px;
  }

  .main-header {
    margin-top:100px;
  }

  .profile {
    margin-top: 20px;
  }

  /* Make images responsive */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  img.file_listing_thumbnail {
    max-width: initial;
  }

  /* Footer */

  .footer-text {
    text-align: center;
    line-height: 1.25;
    margin: 0;
  }
  .navbar-fixed-bottom {
    position: relative;
  }
}
