/* -------- Dashboard Styles -------- */

/*making the orange tab text a little bigger in admin page*/
body.dashboard .panel-body {
	padding:1em;
}

div.heading-tile .glyphicon, div.heading-tile .help-icon, div.heading-tile .glyphicon-chevron-right-helper .chevron, .glyphicon-chevron-right-helper div.heading-tile .chevron {
  background: #ffd34e;
}

/*removed the uses of the dashboard class so these are likely no longer doing anything margins were messing up layout*/
.container.dashboard {
  margin-top: 100px;
  margin-right: 15px;
  margin-left: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.container.dashboard>h1 {
  margin-top: -75px;
}

/* Dashboard/Collection/Form "slug" field*/
#collection_slug {max-width: 540px;}

.dashboard .navbar-background-color {
  background-color: #505050;
}

.dashboard #content-wrapper[role=main] {
  padding-top: 60px;
}

/* collection thumbnail image in the dashboard collection page

.collection .representative-media {
		max-width:100%;
	}
*/

  nav.breadcrumb:after {
    content: ' ';
    clear: both;
    display: table;
  }


/* -------- Admin Page -------- */

.page-container {
  background-color: #157984 !important;
}

.page-container .page-content .page-content-wrap {
  background-color: #f5f5f5;
}

.x-navigation {
  background-color: #105b63 !important;
}

.x-navigation li > a {
  border-bottom: 1px solid #0b3c42 !important;
  color: #db9e36;
}

.x-navigation > li.xn-logo > a:first-child {
  background: #0b3c42 !important;
}

.x-navigation.x-navigation-horizontal {
  height: 41px !important;
  background: #0b3c42 !important;
}

.x-navigation > li > a:hover {
  background: #198d9a !important;
}

/* -------- Cookie Pro Styles -------- */
/* The main popup that shows when you go to the page*/
#onetrust-consent-sdk #onetrust-accept-btn-handler, #onetrust-banner-sdk #onetrust-reject-all-handler {
  background-color:#E65A3A !important;
  border-color:#E65A3A !important;
}

#onetrust-consent-sdk #onetrust-pc-btn-handler, #onetrust-consent-sdk #onetrust-pc-btn-handler.cookie-setting-link {
  color:#E65A3A !important;
  border-color:#E65A3A !important;
}

/*cookies settings pop up*/
#onetrust-consent-sdk #onetrust-pc-sdk .privacy-notice-link, #onetrust-consent-sdk #onetrust-pc-sdk .category-vendors-list-handler, #onetrust-consent-sdk #onetrust-pc-sdk .category-vendors-list-handler + a, #onetrust-consent-sdk #onetrust-pc-sdk .category-host-list-handler, #onetrust-consent-sdk #onetrust-pc-sdk .ot-ven-link, #onetrust-consent-sdk #onetrust-pc-sdk #ot-host-lst .ot-host-name a, #onetrust-consent-sdk #onetrust-pc-sdk #ot-host-lst .ot-acc-hdr .ot-host-expand, #onetrust-consent-sdk #onetrust-pc-sdk #ot-host-lst .ot-host-info a {
  color:#E65A3A !important;
}

#onetrust-consent-sdk #onetrust-pc-sdk button:not(#clear-filters-handler):not(.ot-close-icon):not(#filter-btn-handler):not(.ot-remove-objection-handler):not(.ot-obj-leg-btn-handler):not([aria-expanded]):not(.ot-link-btn), #onetrust-consent-sdk #onetrust-pc-sdk .ot-leg-btn-container .ot-active-leg-btn {
  background-color:#E65A3A !important;
  border-color:#E65A3A !important;
}

/* active item in menu - bar on left side - COLOR OPTIONS*/
#onetrust-consent-sdk #onetrust-pc-sdk .ot-active-menu{
  border-color:#E65A3A !important;
}
/* cookies toggle bar cirlce - COLOR OPTIONS*/
#onetrust-pc-sdk .ot-tgl input:checked + .ot-switch .ot-switch-nob::before{
  background-color:#E65A3A !important;
}

#onetrust-pc-sdk .ot-always-active {
  color:#E65A3A !important;
}

#onetrust-pc-sdk ::before {
  border:0 !important;
}

/*floating shield button bottom left */
#ot-sdk-btn-floating .ot-floating-button__front, #ot-sdk-btn-floating .ot-floating-button__back {
  background-color: #eeeeee !important;
}

@media screen and (min-width:768px) {
  .navbar-default .navbar-collapse {padding-top:45px;}
  .navbar-right {margin-right:0px;}/*fix/remove scrollbar showing in mobile menu */
}
