.main-header {
  .heading-row {
    a {
      &:link, &:visited, &:hover {
        font-size: .75em;

        span {
          font-size: 1.25em;
        }
      }

      &:hover {
        background-color: transparent;
      }
    }
  }
}
