

.hero-fullscreen-bg {
  background-image: url('ATLA-hero-new.jpg');
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  z-index: 1;
}

.form-control {
  color: #555555;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a  {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
  color: #db9e36;
}

.navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
  color: #db9e36;
}

.main-navbar-nav li > .dropdown-menu {
  border-top: 2px solid #db9e36;
}

.main-navbar-nav li > .dropdown-menu > li > a:hover, .main-navbar-nav li > .dropdown-menu > li > a:focus, {
  color: #db9e36;
}

.navbar-light-font {
  background-color: rgba(16, 91, 99, 0.95)
}

.main-navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1;
}

@media screen and (max-width: 992px) {
  .image-background {
    background-image: none !important;
    background: rgba(16, 91, 99, 0.95);
  }

  .hero-fullscreen-bg {
    height: auto;
    padding-top: 100px;
  }

  .hero-fullscreen-bg .heading {
    font-size: 60px;
  }

  .input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .input-group-lg > .input-group-btn > .facets-toggle, td.toggle .input-group-lg > .input-group-btn > input[type=submit] {
    padding: 10px 10px;
  }

  .navbar .container {
    z-index:2;
  }

  .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a  {
    color: #3b3b3b;
  }
}

.navbar-default .navbar-nav > li > a {
    font-size: 12px;
}

.nav > li > a {
    padding: 10px 14px;
}

.navbar-light-font .navbar-toggle, .navbar-light-font .facets-toggle, .navbar-light-font .navbar-toggle:hover, .navbar-light-font .facets-toggle:hover, .navbar-light-font .navbar-toggle:focus, .navbar-light-font .facets-toggle:focus {
  background: rgba(16,91,99, 0.95) !important;
}

a, .btn-link {
  color: #bd4932;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-success, .btn-success:active, .btn-success:focus {
  background-color: #105b63;
  border-color: #0b3c42;
}

.btn-primary:hover, .btn-success:hover {
  background-color: #0b3c42;
  border-color: #07282c;
}

a:hover, a:focus, .btn-link:hover, .btn-link:focus {
  color: #a13f2b;
}

.multi_value .btn.add {
  text-decoration: none;
  padding: 5px 10px;
  width: auto;
  color: white;
}

.label-info {
    background-color: #ffd34e;
}

section.section-gray {
  margin-bottom: 100px;
}

@media screen and (max-width: 992px) {
  section.section-gray {
  margin-bottom: 0;
  }
}

/* FOOTER STYLES */

footer.navbar.navbar-inverse {
  background-color: #105b63;
  border-color: #0b3c42;
}

footer {
  padding: 15px;
}

.navbar-inverse .navbar-text.text-right, .navbar-inverse .navbar-text.text-left {
  color: #d9d9d9;
}

@media screen and (max-width: 992px) {
  .footer-text {
    text-align: center;
    line-height: 1.25;
    margin: 0;
  }
  .navbar-fixed-bottom {
    position: relative;
  }
}

/* Dashboard Styles */

div.heading-tile .glyphicon, div.heading-tile .help-icon, div.heading-tile .glyphicon-chevron-right-helper .chevron, .glyphicon-chevron-right-helper div.heading-tile .chevron {
  background: #ffd34e;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.container.dashboard {
  margin-top: 100px;
  margin-right: 15px;
  margin-left: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 992px) {
  .container.dashboard {
    margin-top: 0;
  }

  .dashboard-margin-top {
    margin-top: 100px;
  }

  .heading-tile {
    font-size: large;
  }

  .container.dashboard a.btn.btn-danger.pull-right {
    float:left !important;
  }

  .pull-right.no-pull-sm {
    float: none !important;
    margin-bottom: 5px;
  }
}

/* Search Styles */
.search-margin-top {
  margin-top: 100px;
}


/* Navbar */
.image-background {
  background-image: url('ATLA-nav-back.jpg');
  background-repeat: no-repeat;
  background-position: top;
  max-height: 80px;
}


/* Contact Page Styles */
.form-horizontal .form-group {
  margin-right:0;
}

/* Forms and Devise Views */
input {
  margin-bottom: 10px;
}
