.hero-fullscreen-bg {
  background-image: url('ATLA-hero-new.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a  {
  color: #d9d9d9;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
  color: #db9e36;
}

.navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
  color: #db9e36;
}

.main-navbar-nav li > .dropdown-menu {
  border-top: 2px solid #db9e36;
}

.main-navbar-nav li > .dropdown-menu > li > a:hover, .main-navbar-nav li > .dropdown-menu > li > a:focus, {
  color: #db9e36;
}

.navbar-light-font {
  background-color: rgba(16, 91, 99, 0.95)
}

.main-navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1;
}

a {
  color: #bd4932;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
  background-color: #105b63;
  border-color: #0b3c42;
}

.btn-primary:hover {
  background-color: #0b3c42;
  border-color: #07282c;
}

a:hover, a:focus {
  color: #a13f2b;
}

footer.navbar.navbar-inverse {
  background-color: #105b63;
  border-color: #0b3c42;
}

footer {
  padding: 15px 15px 15px 0;
}

.navbar-inverse .navbar-text.text-right, .navbar-inverse .navbar-text.text-left {
  color: #d9d9d9;
}
